#backgroundBody{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color:#212121;
    height: 100%;
}
#home{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.fa{
    padding: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;

    background: #212121;
    color: white;
    opacity: 0.5;
    transition: .25s
}
.fa:hover{
    opacity: 1.0;
    transform: scale(1.1);
}
img{
    max-width: 250px;
    max-height: 250px;
}
h1{
    font-size: 325%;
    font-family: Rubik, sans-serif;
}
p{
    font-size: 150%;
    font-family: Roboto Thin, sans-serif;
}
